---
import '../../styles/globals.css';
import { getI18N } from '../../i18n/index';
import Layout from '../../layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro';
import Hero from '../sections/Hero.astro';
import Brands from '../sections/Brands.astro';
import Services from '../sections/Services.astro';
import Categories from '../sections/Categories.astro';
import Operations from '../sections/Operations.astro';
import Clients from '../sections/Clients.astro';
import Footer from '../sections/Footer.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title="Comercio Web">
  <main>
    <Hero
      headline={i18n.header.headline}
      subheadline={i18n.header.subHeadline}
      btnText={i18n.header.button}
      items={i18n.header.items}
      contactButton={i18n.header.contactButton}
    />
    <Brands title={i18n.brands.title} />
    <Services
      eyebrow={i18n.services.eyebrow}
      title={i18n.services.title}
      subtitle={i18n.services.subtitle}
    />
    <Categories
      title={i18n.categories.title}
      categories={i18n.categories.items}
    />
    <Operations title={i18n.operations.title} />
    <Clients title={i18n.clients.title} />
  </main>
  <Footer />
</Layout>
