---
import '../../styles/globals.css';
import { getI18N } from '../../i18n/index';
import Layout from '@/layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro';
import Footer from '../sections/Footer.astro';
import ContactForm from '../sections/ContactForm.astro';
import { Send, Phone, MapPinHouse } from 'lucide-react';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { items, contactButton } = Astro.props;
---

<Layout title="Comercio Web">
  <NavBar
    items={i18n.header.items}
    contactButton={i18n.header.contactButton}
  />
  <main class="bg-[#F6F6F6]">
    <div
      class="max-w-screen-xl mx-auto px-4 py-16 md:py-20 | grid md:grid-cols-2 gap-y-12">
      <div>
        <h1
          class="mb-8 text-4xl text-balance text-blue-950 md:text-5xl font-bold">
          {i18n.contact.title}
        </h1>
        <p class="mb-10 text-xl max-w-[25em]">
          {i18n.contact.subtitle}
        </p>
        <div class="space-y-4">
          <div class="text-lg flex gap-x-4 items-center">
            <MapPinHouse size={20} color="#0e1f65" />
            <a href="mailto:info@comweboc.com"
              >Monterrey, N.L. México</a
            >
          </div>
          <div class="text-lg flex gap-x-4 items-center">
            <Send size={20} color="#0e1f65" />
            <a href="mailto:info@comweboc.com">info@comweboc.com</a>
          </div>
          <div class="text-lg flex gap-x-4 items-center">
            <Phone size={20} color="#0e1f65" />
            <a href="tel:+52 818 462 8963">+52 818 462 8963</a>
          </div>
        </div>
      </div>
      <div>
        <ContactForm
          labels={i18n.contact.form}
          buttonText={i18n.contact.submitText}
        />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
