---
import { Button } from '../ui/button';
const { headline, subheadline, btnText } = Astro.props;
import heroVideoMp4 from '../../assets/hero-video.mp4';
import heroVideoWebm from '../../assets/hero-video.webm';
---

<section class="relative" style="height: 100vh; height: 100svh;">
  <div
    class="absolute top-0 left-0 w-full h-full overflow-hidden -z-20">
    <video
      autoplay
      loop
      muted
      playsinline
      class="min-h-full min-w-full w-auto h-auto absolute object-cover">
      <source src={heroVideoMp4} type="video/mp4" />
      <source src={heroVideoWebm} type="video/webm" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div
    class="max-w-screen-xl mx-auto px-4 py-8 lg:py-16 | grid place-content-center h-full lg:grid-cols-12 lg:gap-8 xl:gap-0">
    <div
      class="mr-auto place-self-center lg:col-span-8 text-white p-[120px_3%_80px]">
      <h1
        class="mb-8 text-5xl md:text-[56px] md:leading-[1.1] font-bold">
        {headline}
      </h1>
      <p class="mb-8 lg:mb-10 text-lg md:text-xl md:max-w-[30em]">
        {subheadline}
      </p>
      <Button variant="secondary" size="lg">{btnText}</Button>
    </div>
    <div class="absolute inset-0 -z-10 bg-blue-950/70"></div>
  </div>
</section>
